p {
    cursor: default;
}

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width: 320px) and (max-width: 900px) {
    .container {
        width: 80vw;
        height: 80vh;

        display: flex;
        flex-direction: column;

        border-radius: calc(100vw / 80);
        background-color: #ffffff18;
    }

    #imageContainer {
        width: 100%;
        height: 30%;
        margin-top: calc(100vw / 30);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #imageCover {
        width: calc(100vw / 5);
        height: calc(100vw / 5);

        overflow: hidden;

        border-radius: calc(100vw / 2);
        background-color: #ffffff2a;
    }

    #avatar {
        width: 100%;
    }

    #name {
        font-size: calc(100vw / 50);
        font-family: "Source Code Pro", monospace;
        color: rgba(255, 255, 255, 0.907);
    }

    #birthday {
        position: relative;
        margin-top: calc(100vw / -90);
        font-size: calc(100vw / 80);
        font-family: "Source Code Pro", monospace;
        color: rgba(255, 255, 255, 0.907);
    }

    #body {
        width: 100%;
        height: 70%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #aboutTitle {
        position: relative;

        font-size: calc(100vw / 35);
        font-weight: 800;
        font-family: "Source Code Pro", monospace;

        letter-spacing: 5px;

        color: rgba(255, 255, 255, 0.907);
    }

    #about {
        width: 70%;
        height: fit-content;

        position: relative;
        margin-top: calc(100vw / -80);

        text-align: justify;
        line-height: calc(100vw / 30);
        font-size: calc(100vw / 70);
        font-weight: 300;
        font-family: "Source Code Pro", monospace;

        color: rgba(255, 255, 255, 0.907);
    }

    #contactTitle {
        width: fit-content;
        height: fit-content;
        margin-top: calc(100vw / 100);

        font-size: calc(100vw / 35);
        font-weight: 800;
        font-family: "Source Code Pro", monospace;

        letter-spacing: 5px;

        color: rgba(255, 255, 255, 0.907);
    }

    #linksContainer {
        width: 55%;
        height: 10%;

        position: relative;
        margin-top: calc(100vw / -80);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #items {
        cursor: pointer;

        width: calc(100vw / 18);
        height: calc(100vw / 18);

        display: flex;
        justify-content: center;
        align-items: center;

        /* background-color: #ffffff71; */
    }

    #items img {
        width: 80%;
        height: 80%;
    }
}

@media (min-width: 1024px) and (max-width: 2560px) {
    .container {
        width: 80vw;
        height: 80vh;

        display: flex;
        flex-direction: row;

        border-radius: calc(100vw / 80);
        background-color: #ffffff18;
    }

    #imageContainer {
        width: 40%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #imageCover {
        width: calc(100vw / 5);
        height: calc(100vw / 5);

        overflow: hidden;

        border-radius: calc(100vw / 2);
        background-color: #ffffff2a;
    }

    #avatar {
        width: 100%;
    }

    #name {
        font-size: calc(100vw / 50);
        font-family: "Source Code Pro", monospace;
        color: rgba(255, 255, 255, 0.907);
    }

    #birthday {
        position: relative;
        margin-top: calc(100vw / -90);
        font-size: calc(100vw / 80);
        font-family: "Source Code Pro", monospace;
        color: rgba(255, 255, 255, 0.907);
    }

    #body {
        width: 60%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #aboutTitle {
        font-size: calc(100vw / 40);
        font-weight: 800;
        font-family: "Source Code Pro", monospace;

        letter-spacing: 5px;

        color: rgba(255, 255, 255, 0.907);
    }

    #about {
        width: 90%;
        height: fit-content;

        position: relative;
        margin-top: calc(100vw / -80);

        text-align: justify;
        line-height: calc(100vw / 60);
        font-size: calc(100vw / 100);
        font-weight: 300;
        font-family: "Source Code Pro", monospace;

        color: rgba(255, 255, 255, 0.907);
    }

    #contactTitle {
        width: fit-content;
        height: fit-content;
        margin-top: calc(100vw / 100);

        font-size: calc(100vw / 40);
        font-weight: 800;
        font-family: "Source Code Pro", monospace;

        letter-spacing: 5px;

        color: rgba(255, 255, 255, 0.907);
    }

    #linksContainer {
        width: 55%;
        height: 10%;

        position: relative;
        margin-top: calc(100vw / -80);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #items {
        cursor: pointer;

        width: calc(100vw / 30);
        height: calc(100vw / 30);

        display: flex;
        justify-content: center;
        align-items: center;

        /* background-color: #ffffff71; */
    }

    #items img {
        width: 80%;
        height: 80%;
    }
}
